body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;

    
    justify-content: center;
    align-items: center;

    color: #434343;

    font-size: 16px;
}

/* navbar - start */

a {
  color: var(--white);
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 165, 62, 0.6);
  backdrop-filter: blur(10px);
  height: 4.6875rem;
  padding: 1rem;
  z-index: 1;
  position: fixed;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  transition: 0.5s;
  background: #ffa53e;
}

.btn-menu {
  display: none;
}

@media (max-width: 600px) { 

  .container {
    display: flex;
    width: 100%;
    width: 20px;
    height: 55px;
  }

  
  .flips {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    padding-top: 2rem;
    
  }
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: rgba(255, 165, 62, 0.8);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 2;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(40vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-top-color: transparent;

  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}



/* navbar - end */

/* section 1 - start */

.flips {
    background-size: auto;
    background-image: url(/assets/img/tijolo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* section 1 - end */

/* flip card - start */

.flips {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 280px;
    height: 280px;
}

.container:hover .flip {
    transform: rotateY(180deg);
    transition: 0.9s;
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
}

#front1, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

#front1 {
    background-image: url(/assets/img/image\ 9.png);
    background-size: cover;
}

#front2 {
    background-image: url(/assets/img/biscrok.png);
    background-size: cover;
}

#front3 {
    background-image: url(/assets/img/luva.png);
    background-size: cover;
}

#front2, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

#front3, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;
    backface-visibility: hidden;
}

.back {
    background-color: rgba(240, 240, 240, 0.8);
    backdrop-filter: blur(20px);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #535353;
}

button {
    outline: none;
    border: none;
    background-color: #ffa53e;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    width: 180px;
    height: 180px;
  }
}


/* footer - start */

.footer{

  background-color: #131312;
  width: 100%;
  height:50%;
  float: left;
  font-size: 18px;
  padding: 50px 10px 50px 10px;
 
 }
 
 .footer .left{ 
 
  width:100%; 
  float:left; 
  border-bottom:1px #222424 solid;
  border-right:0; 
  margin-bottom:20px; 
     padding-bottom:20px;
 }
 
 .footer .title-footer {
 
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-weight: initial;
     font-size:26px;
     width:100%;
     float:left;
     margin-bottom:15px;
 
 }
 
 .footer .title-footer span{
 
  color:  rgba(255, 165, 62);
  font-family:'DM Sans', sans-serif;
  font-weight: bold;
 
 }
 
 /* Footer links */
 
 .footer .links{
  
  width: 100%;
  float: left;
  color:  #ffffff;
  margin-bottom: 20px;
  padding: 0;
 
 }
 
 .footer .links a{
 
     display: block;
     line-height: 33px;
     text-decoration: none;
     color: #fff;
     font-family:'DM Sans', sans-serif;
     font-size:16px;
     transition:0.3s;
 
 
 }
 
 .footer .links a:hover { color:rgba(255, 165, 62); }
 
 .footer .Copyright{
 
  font-family:'DM Sans', sans-serif;
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
 
 }
 
 /*redes sociais*/
 
 .footer .footer-icons{
  
  width:100%;
  float:left;
  margin-bottom:20px;
 }
 
 .footer .footer-icons a{
 
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #ff9c2b;
  border-radius: 50px;
     font-family:'DM Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center; 
  line-height: 35px;
  margin-bottom: 5px;
  transition:0.3s;
 
 }
 
 .footer .footer-icons a:hover{ background-color:rgba(255, 165, 62); }
 
 
 
 
 
 /*Responsive*/
 @media (min-width: 1280px) {
 
  .footer               { padding: 100px 50px 50px 100px; }
  .footer .Copyright    { font-size: 16px; }
  .footer form input,
  .footer form textarea { width: 100%; float:left; }
  .footer form button   { padding: 10px 35px; }
 
 }
 
 @media (min-width: 600px) {
  
  .footer .left { 
    width:48%; border-bottom:0; }
  .footer .right { 
    width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
  .footer form { 
    margin-top: 30px; }
  .footer form { 
    display: block; }
  .footer form button { 
    float: none; }
 
 }

 /* footer - end */

 /* scrollbar */

 ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: #fff385;
  width: 50px;
}


/* flip card - end */
